<div class="row" th:fragment="service-row" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="col-xs-4">
        <div class="panel panel-default">
            <div class="panel-body">
                <img src="/static/image/best_seller.jpg"
                     class="img-responsive " alt=""/>
            </div>
        </div>
    </div>
    <div class="col-xs-4">
        <div class="panel panel-default">
            <div class="panel-body">
                <img src="/static/image/hours-directions.jpg"
                     class="img-responsive" alt=""/>
            </div>
        </div>
    </div>
    <div class="col-xs-4">
        <div class="panel panel-default">
            <div class="panel-body">
                <img src="/static/image/faq-logo.png" class="img-responsive" alt=""/>
            </div>
        </div>
    </div>
</div>