<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="common/header :: common-header"></head>
<body>
<div th:replace="common/header :: navbar"></div>

<div class="container">
    <div class="row">
        <form class="form-horizontal" th:action="@{/info/add}" method="post" enctype="multipart/form-data">
            <fieldset>
                <legend class="center-block">New Information
                    <span style="font-size: small">* is a requirement </span>
                </legend>

                <!--title-->
                <div class="form-group">
                    <label class="col-md-2 control-label" for="title">* Title</label>
                    <div class="col-md-8">
                        <input type="text" class="form-control" id="title" th:value="${info.title}"
                               required="required" placeholder="Title" name="title"/>

                        <span class="help-block">Title of the Information</span>
                    </div>
                </div>
                <!--description-->
                <div class="form-group">
                    <label class="col-md-2 control-label" for="description">Description</label>
                    <div class="col-md-8">
                    <textarea class="form-control" id="description" th:value="${info.description}"
                              name="description"
                              rows="5"
                              placeholder="Description"></textarea>
                        <span class="help-block">Description of the information</span>
                    </div>
                </div>

<!--                &lt;!&ndash;upload image&ndash;&gt;-->
<!--                <div class="form-group">-->
<!--                    <div class="col-md-2">-->
<!--                        <label  for="bookImage">Upload book image</label>-->
<!--                    </div>-->
<!--                    <div class="col-md-8">-->
<!--                        <input id="bookImage" type="file" name="bookImage" th:value="${book.bookImage}"/>-->
<!--                    </div>-->
<!--                </div>-->
                <div class="form-group">
                    <div class="col-md-2"></div>
                    <div class="col-md-8">
                        <button type="submit" class="btn btn-success">Add information</button>
                        <a class="btn btn-danger" th:href="@{/}">Cancel</a>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>
<div th:replace="common/header :: body-bottom-scripts"></div>
</body>
</html>